.App {
  text-align: center;
  
}

body {
  background-color: rgb(77, 236, 241);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20rem;
}

.team {
  background: lightblue;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 2px rgba(0, 0, 0, 0.24);
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 16px auto;
  text-align: center;
  
}

label {
  color: black;
  width: 50%;
  text-align: center;
  margin: 1rem;
  font-size: 1.5rem;
}

input {
  width: 100%;
  max-width: 300px;
  text-align: center;
}

button {
  width: 10rem;
  height: 4rem;
  margin: 1rem;
  border-radius: 50%;
  font-size: 1.5rem;
  color: red;
  
}
